$mainFontSize: 42px;
$mainFont: "Noto Sans", sans-serif;

$heading1Size: 2em;
$heading2Size: 1.56em;
$heading3Size: 1.26em;
$heading4Size: 1.00em;

$headingFont: "Oswald", sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingFontWeight: 500;
