/**
 * Dark theme, based on Night
 */

@import "../../../node_modules/@darekkay/styles/src/base/colors";

// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
@import "../template/fonts";
@import "../template/dk-shared";
// ---------------------------------------------


// Override theme settings (see ../template/settings.scss)
$backgroundColor: $blue-80;
$selectionBackgroundColor: #e2901c;

$linkColor: #fe9720; // grade: 30
$linkColorHover: lighten( $linkColor, 20% );


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.bg-highlight { background: #222; }

.highlight-1, mark { color: #a7e22e; } // grade: 20
.highlight-2 { color: $violet-warm-vivid-30; }
.highlight-3 { color: $yellow-vivid-20; }
.highlight-4 { color: $mint-cool-vivid-20; }

.reveal .red { color: $violet-warm-vivid-30; }
.reveal .green { color: #a7e22e; }
.reveal .orange { color: #fe9720; }

.border { border: 1px solid #000 !important; }
