/**
 * Light theme
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
@import "../template/fonts";
@import "../template/dk-shared";
// ---------------------------------------------


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;
$selectionBackgroundColor: lighten( $linkColor, 25% );

$mainColor: #222;
$headingColor: #222;

$linkColor: #2a76dd;
$linkColorHover: lighten( $linkColor, 15% );

section.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
}


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.bg-highlight { background: #ddd; }

.highlight-1, mark { color: #f76707 }
.highlight-2 { color: #1fb714; }
.highlight-3 { color: #fb2608; }
.highlight-4 { color: #a36ac7; }

.border { border: 1px solid #000 !important; }

.reveal blockquote {
	background-color: #eee;
}
